


/*MAIN BODY*/
.content{
    text-align: center;
    font-family:monospace ;
}

.qsmark {
    color: #ee4b2e;
    font-size:xx-large;
}


.nickname{
    color:gray;

}

h2{
    font-size: xx-large;
}
p{
    font-size: x-large;
}

/* HELLO THERE!*/
.wrapper {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .typing {
    width: 13ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  /*FULL NAME*/
 .box-c{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  
  .box-c{height:80px;}
  .box-c {background: #000000;}
  
 .box-c {line-height:80px;}
    
  .normal-underline,
  .custom-underline {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  .normal-underline,
  .normal-underline:hover {
    color: #444;
    text-decoration: underline;
  }
  .custom-underline,
  .custom-underline:hover,
  .custom-underline:focus,
  .custom-underline:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow:0 1px 1px rgba(150, 150, 150, 0.8);
  }
  .custom-underline::after {
    content: "";
    position: absolute;
  }
  .box-c .custom-underline::after {
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    background-color: rgb(255, 255, 255);
      transition: 0.4s ease-out all .1s;
  }
  
  .box-c:hover .custom-underline::after {
    width: 90%;
    left: 5%;
      transition: 0.5s ease all;
  }
  
  